.CashierGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: auto;
    height: inherit;
}

.CashierFilters {
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: inherit;
    justify-content: space-between;
    align-items: center;
}

.CashierFilters input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.CashierFilters input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.CashierFilters button {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100px;
    color: white;
    cursor: pointer;
    background-color: #216796;
}

.CashierGridTitle {
    background-color: #1a5176;
    padding: 10px;
    width: inherit;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: white;
}

.CashierTable {
    width: inherit;
}

.CashierTable table {
    width: inherit;
}

.CashierGridPagination {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.buttonPage {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.buttonPage:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.buttonTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonTable button {
    padding: 4px;
    margin: 3px;
    border: none;
    width: 35px;
    border-radius: 5px;
}

.buttonTable button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}